<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Common Logging</h2>
        <h3 class="oe_slogan">A location to log your events/messages/errors/alerts.</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="logging_01.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Clean up old events</h2>
        <h3 class="oe_slogan">Configure the <i>Scheduled Actions</i> to remove old events</h3>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            By default oldest than 120 days.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="logging_02.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
